Repository ArlynGajilanTR/ShiftSmart: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-env-example, no-prod-ids-in-code, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$ and not ((?x)^(
  \.next/|
  node_modules/|
  dist/|
  build/|
  scripts/
)$
) and not ((?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$
)
  check-env-example: any of: \.env\.example$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  no-prod-ids-in-code: any of: not (\.(md|sql)$), but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$


docs: add automated testing emphasis to build rules
  CONTRIBUTING.md
  ENGINEERING_BUILD_RULES.md
  lib/ai/scheduler-agent.ts
  tests/fixtures/claude-responses/missing-metrics.json
  tests/fixtures/claude-responses/valid-schedule.json
  tests/unit/lib/ai/getShiftType.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(ai): resolve 7 critical bugs in schedule generation (v1.2.2)
  AI_SCHEDULE_FIXES_COMPLETE.md
  CHANGELOG.md
  IMPLEMENTATION_COMPLETE_SUMMARY.md
  PHASE_1_FIXES_COMPLETE.md
  README.md
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
  package.json
  tests/unit/lib/ai/parseScheduleResponse.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): update failing test + add diagnostic tools
  TROUBLESHOOTING_GENERATE_SCHEDULE.md
  scripts/diagnose-generate-schedule.js
  tests/unit/lib/ai/scheduler-agent.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: add Vercel deployment checklist for generate schedule feature
  VERCEL_DEPLOYMENT_CHECKLIST.md
Due: none

docs: add Vercel deployment checklist (without sensitive data)
  VERCEL_ACTION_REQUIRED.md
  VERCEL_DEPLOYMENT_CHECKLIST.md
Due: none

feat: upgrade to Claude Haiku 4.5 and fix critical API bugs (v1.3.0)
  ADD_SUPERUSERS_GUIDE.md
  AI_MODEL_FIX.md
  AI_MODEL_UPGRADE.md
  AI_SETUP_TROUBLESHOOTING.md
  CHANGELOG.md
  README.md
  VERSION
  app/api/ai/generate-schedule/route.ts
  app/api/dashboard/stats/route.ts
  app/api/shifts/route.ts
  app/dashboard/page.tsx
  app/dashboard/schedule/page.tsx
  app/login/page.tsx
  app/signup/page.tsx
  lib/ai/client.ts
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
  package.json
  supabase/add-superusers.sql
Due: eslint, no-prod-ids-in-code, typescript-check

fix: increase token limit to 32k and optimize for scalability (v1.3.1)
  AI_MODEL_FIX.md
  AI_MODEL_UPGRADE.md
  CHANGELOG.md
  README.md
  VERSION
  lib/ai/client.ts
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
  package.json
Due: eslint, no-prod-ids-in-code, typescript-check

fix: enable streaming for large AI responses to avoid timeout
  lib/ai/client.ts
Due: eslint, no-prod-ids-in-code, typescript-check

perf: massive performance optimization - 90x faster saves, prompt caching (v1.3.1)
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  app/dashboard/schedule/page.tsx
  lib/ai/client.ts
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: add TypeScript types for shiftsToInsert array
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: comprehensive improvements to AI schedule generation reliability
  app/api/ai/debug-last-response/route.ts
  app/dashboard/schedule/page.tsx
  lib/ai/client.ts
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update documentation for v1.3.2 reliability improvements
  CHANGELOG.md
  README.md
  TROUBLESHOOTING_GENERATE_SCHEDULE.md
  VERSION
Due: no-prod-ids-in-code

fix: correct Claude model identifier to claude-3-5-haiku-20241022
  lib/ai/client.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update all references to correct Claude 3.5 Haiku model
  CHANGELOG.md
  README.md
  VERSION
  app/api/ai/generate-schedule/route.ts
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: update UI text to show Claude 3.5 Haiku
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: correct to actual Claude Haiku 4.5 model identifier
  lib/ai/client.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update all references back to Claude Haiku 4.5
  CHANGELOG.md
  README.md
  VERSION
  app/api/ai/generate-schedule/route.ts
  app/dashboard/schedule/page.tsx
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: comprehensive documentation update for v1.3.4 with correct Claude Haiku 4.5
  AI_MODEL_FIX.md
  AI_MODEL_UPGRADE.md
  AI_SETUP_TROUBLESHOOTING.md
  CHANGELOG.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  package.json
Due: no-prod-ids-in-code

feat(testing): Add comprehensive E2E test report for Dashboard, Schedule, Employees, and Conflicts
  E2E_TEST_REPORT.md
Due: none

fix(deps): Add missing dependencies for Vercel build
  package.json
Due: no-prod-ids-in-code

fix(deps): Add @tailwindcss/postcss for Tailwind v4 compatibility
  package.json
Due: no-prod-ids-in-code

fix(deps): Upgrade Tailwind CSS to v4.0.0
  package.json
Due: no-prod-ids-in-code

fix(build): Disable ESLint during Vercel builds
  .eslintrc.json
  app/dashboard/employees/[id]/page.tsx
  next.config.mjs
  package.json
Due: eslint, no-prod-ids-in-code, typescript-check

fix(deps): Add missing next-themes dependency
  package.json
Due: no-prod-ids-in-code

fix(build): Comprehensive fix for all build issues
  components/theme-provider.tsx
  next.config.mjs
Due: eslint, no-prod-ids-in-code, typescript-check

build: Add .vercelignore to speed up builds
  .vercelignore
Due: no-prod-ids-in-code

build: Add verification script for build dependencies
  scripts/verify-build.sh
Due: no-prod-ids-in-code

feat: implement comprehensive codebase remediation plan
  app/api/conflicts/route.ts
  app/api/employees/route.ts
  app/api/shifts/[id]/route.ts
  app/api/shifts/route.ts
  app/dashboard/employees/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/schedule/page.tsx
  app/dashboard/settings/page.tsx
  components/ui/alert-dialog.tsx
  lib/ai/client.ts
  lib/validation/conflicts.ts
  package-lock.json
  package.json
  types/index.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: auth redirect race condition and orphaned conflict records
  app/api/shifts/route.ts
  app/dashboard/layout.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

refactor: simplify auth check and conflict detection logic
  app/api/shifts/route.ts
  app/dashboard/layout.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: correct dev admin email to include .com domain
  QUICKSTART.md
  README.md
  SETUP.md
  SETUP_INSTRUCTIONS.md
  supabase/add-superusers.sql
  supabase/create-dev-admin.sql
  tsconfig.json
Due: no-prod-ids-in-code

chore: migrate to ShiftSmart-v2 Supabase database (v1.3.5)
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  DEVELOPMENT_GUIDE.md
  QUICKSTART.md
  README.md
  SETUP.md
  SETUP_INSTRUCTIONS.md
  VERSION
Due: no-prod-ids-in-code

fix: export parseScheduleResponse and fix ESLint config
  eslint.config.mjs
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

test: fix test bugs and skip unimplemented features
  tests/unit/lib/ai/response-parser.test.ts
  tests/unit/lib/ai/schedule-validator.test.ts
  tests/unit/lib/ai/scheduler-agent.enhanced.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: correct Reuters logo URL on login page
  app/login/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: merge duplicate Next.js config files
  next.config.mjs
  next.config.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: pin Node.js version to 22.x LTS to resolve Vercel warning
  CHANGELOG.md
  README.md
  package.json
Due: no-prod-ids-in-code

fix: Dashboard schedule overview now displays shifts correctly
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

feat: Add Today view to dashboard and remove Upcoming Shifts table
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check
