Repository ArlynGajilanTR/ShiftSmart: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-env-example, no-prod-ids-in-code, typescript-check

eslint:
  name: Lint with ESLint
  entry: npm run lint --
  language: system
  pass_filenames: false

check-env-example:
  name: Validate .env.example
  entry: bash -c 'grep -q TEST_TENANT_ID .env.example || (echo ERROR:.env.example missing TEST_TENANT_ID; exit 1)'
  language: system
  pass_filenames: false

no-prod-ids-in-code:
  name: Check for production IDs in code
  entry: bash -c '! git diff --cached --name-only | grep -v "\.md$" | grep -v "\.sql$" | xargs grep -l arlyn.gajilan@thomsonreuters.com 2>/dev/null || true'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix(tests): update E2E tests with correct passwords and selectors
  docs/handoffs/PHASE_3_HANDOFF.md
  package-lock.json
  package.json
  tests/e2e/playwright.config.ts
  tests/e2e/tests/auth.spec.ts
  tests/e2e/tests/dashboard.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): use correct test password 'changeme' from seed data
  tests/e2e/tests/auth.spec.ts
  tests/e2e/tests/dashboard.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): use correct toast selector for Radix Toast
  tests/e2e/tests/auth.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update CHANGELOG and VERSION to 1.5.3 for E2E test fixes
  CHANGELOG.md
  VERSION
Due: no-prod-ids-in-code

feat: Add Team Leader preference approval system (v1.6.0)
  API_REFERENCE.md
  VERSION
  app/api/ai/generate-schedule/route.ts
  app/api/employees/[id]/preferences/confirm/route.ts
  app/api/employees/[id]/preferences/route.ts
  app/api/employees/[id]/route.ts
  app/api/employees/route.ts
  app/api/team/availability/route.ts
  app/api/users/[id]/team-leader/route.ts
  app/dashboard/employees/[id]/page.tsx
  app/dashboard/employees/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/my-availability/page.tsx
  app/dashboard/schedule/page.tsx
  app/dashboard/team/page.tsx
  components/ui/switch.tsx
  lib/auth/verify.ts
  package.json
  supabase/migrations/001_team_leader_system.sql
  supabase/schema.sql
  types/index.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: add comprehensive ARCHITECTURE.md and DATABASE_SCHEMA.md for AI-friendly development
  ARCHITECTURE.md
  DATABASE_SCHEMA.md
Due: none

feat: Add time-off request system for employees
  app/api/time-off/[id]/route.ts
  app/api/time-off/route.ts
  app/dashboard/layout.tsx
  app/dashboard/my-time-off/page.tsx
  lib/ai/scheduler-agent.ts
  supabase/migrations/002_time_off_requests.sql
  types/index.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: Update documentation for v1.6.1 Time-Off Request System
  API_REFERENCE.md
  ARCHITECTURE.md
  CHANGELOG.md
  DATABASE_SCHEMA.md
  README.md
  VERSION
Due: no-prod-ids-in-code

feat: Allow team leaders to create and delete employees
  API_REFERENCE.md
  ARCHITECTURE.md
  CHANGELOG.md
  VERSION
  app/api/employees/[id]/route.ts
  app/api/employees/route.ts
  lib/auth/verify.ts
  lib/supabase/service.ts
  supabase/migrations/003_users_rls_policies.sql
Due: eslint, no-prod-ids-in-code, typescript-check

Implement ShiftSmart hardening plan (auth, shifts, E2E, docs)
  API_REFERENCE.md
  ARCHITECTURE.md
  README.md
  app/api/ai/chatbot/route.ts
  app/api/shifts/upcoming/route.ts
  app/api/time-off/route.ts
  app/api/users/me/route.ts
  app/dashboard/employees/[id]/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/my-availability/page.tsx
  app/dashboard/my-time-off/page.tsx
  app/dashboard/schedule/page.tsx
  components/chatbot-guide.tsx
  docs/PROJECT_FIELD_GOTCHAS.md
  lib/api-client.ts
  tests/e2e/UI_TESTING_README.md
  tests/e2e/playwright-report/data/14ab1b33ad4649144808a7d16495e9007c901a05.webm
  tests/e2e/playwright-report/data/306bee22b2e92b2a2c89d3620e4fc01c3fc7f86c.png
  tests/e2e/playwright-report/data/7d99f24dea3c64cf68400069e40e6dbd54b70a05.md
  tests/e2e/playwright-report/data/bf8b55d81f0303a0439b31a136a674fddfbcd597.png
  tests/e2e/playwright-report/data/c13754baac87f402b6500e47fc5c3244efff36a2.webm
  tests/e2e/playwright-report/data/c17be32b461340ba2bbb3a7e70b04d785976166c.md
  tests/e2e/playwright-report/index.html
  tests/e2e/test-results.json
  tests/e2e/test-results/.last-run.json
  tests/e2e/tests/ui-07-my-availability.spec.ts
  tests/e2e/tests/ui-08-team-availability.spec.ts
  tests/e2e/tests/ui-09-my-time-off.spec.ts
  tests/e2e/tests/ui-10-chatbot.spec.ts
  tests/security/auth-required.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(my-time-off): close create form when opening edit dialog
  API_REFERENCE.md
  ARCHITECTURE.md
  CHANGELOG.md
  DATABASE_SCHEMA.md
  VERSION
  app/api/team/time-off/route.ts
  app/api/time-off/[id]/route.ts
  app/api/time-off/route.ts
  app/dashboard/my-time-off/page.tsx
  app/dashboard/team/page.tsx
  lib/ai/prompts/schedule-generation.ts
  lib/ai/scheduler-agent.ts
  lib/api-client.ts
  tests/api/time-off.test.ts
  tests/e2e/UI_TESTING_README.md
  tests/e2e/tests/ui-08-team-availability.spec.ts
  tests/integration/schedule-generation/full-flow.test.ts
  tests/unit/lib/ai/scheduler-agent.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

Add guest admin account (test.test@thomsonreuters.com)
  ADD_SUPERUSERS_GUIDE.md
  supabase/add-guest-admin.sql
Due: none

docs: update Supabase project reference to ShiftSmart-v2
  PHASE_0_FRONTEND_ANALYSIS.md
Due: none

Add Cursor rules for project conventions
  .cursorrules
Due: no-prod-ids-in-code

fix: use bureau code instead of name for schedule generation lookups
  .cursorrules
  ADD_SUPERUSERS_GUIDE.md
  DEVELOPMENT_GUIDE.md
  QUICKSTART.md
  README.md
  SETUP.md
  SETUP_INSTRUCTIONS.md
  docs/PROJECT_FIELD_GOTCHAS.md
  lib/ai/scheduler-agent.ts
  supabase/add-guest-admin.sql
  supabase/add-superusers.sql
  tests/integration/schedule-generation/error-recovery.test.ts
  tests/integration/schedule-generation/full-flow.test.ts
  tests/unit/lib/ai/scheduler-agent.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

feat(v1.8.0): add export, notifications, and user workflow documentation
  API_REFERENCE.md
  CHANGELOG.md
  README.md
  WORKFLOW_IMPLEMENTATION_SUMMARY.md
  app/api/notifications/route.ts
  app/api/shifts/export/ics/route.ts
  app/api/shifts/export/pdf/route.ts
  app/dashboard/schedule/page.tsx
  components/notification-bell.tsx
  docs/USER_WORKFLOWS.md
  docs/USER_WORKFLOW_ANALYSIS.md
  lib/api-client.ts
  lib/notifications/service.ts
  lib/pdf/schedule-template.tsx
  package-lock.json
  package.json
  supabase/migrations/003_notifications.sql
Due: eslint, no-prod-ids-in-code, typescript-check

fix: use bureau code instead of name for schedule generation lookups
  .cursorrules
  ADD_SUPERUSERS_GUIDE.md
  DEVELOPMENT_GUIDE.md
  QUICKSTART.md
  README.md
  SETUP.md
  SETUP_INSTRUCTIONS.md
  WORKFLOW_IMPLEMENTATION_SUMMARY.md
  app/api/notifications/route.ts
  app/api/shifts/export/ics/route.ts
  app/api/shifts/export/pdf/route.ts
  components/notification-bell.tsx
  docs/PROJECT_FIELD_GOTCHAS.md
  docs/USER_WORKFLOWS.md
  docs/USER_WORKFLOW_ANALYSIS.md
  lib/ai/scheduler-agent.ts
  lib/notifications/service.ts
  lib/pdf/schedule-template.tsx
  package-lock.json
  package.json
  supabase/add-guest-admin.sql
  supabase/add-superusers.sql
  supabase/migrations/003_notifications.sql
  tests/integration/schedule-generation/error-recovery.test.ts
  tests/integration/schedule-generation/full-flow.test.ts
  tests/unit/lib/ai/scheduler-agent.test.ts
Due: eslint, no-prod-ids-in-code, typescript-check

feat(tests): add role-based E2E workflow tests for staffer and manager personas
  tests/README.md
  tests/e2e/UI_TESTING_README.md
  tests/e2e/helpers/test-users.ts
  tests/e2e/tests/workflows/access-control.spec.ts
  tests/e2e/tests/workflows/cross-role-integration.spec.ts
  tests/e2e/tests/workflows/manager-workflow.spec.ts
  tests/e2e/tests/workflows/staffer-workflow.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: Document designated team leaders
  .cursorrules
  DATABASE_SCHEMA.md
  README.md
  SETUP_INSTRUCTIONS.md
  docs/PROJECT_FIELD_GOTCHAS.md
Due: no-prod-ids-in-code

fix(tests): fix staffer workflow test selectors and assertions
  tests/e2e/helpers/test-users.ts
  tests/e2e/test-results/.last-run.json
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/error-context.md
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/test-failed-1.png
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/video.webm
  tests/e2e/tests/workflows/staffer-workflow.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): fix manager workflow E2E tests
  tests/e2e/helpers/test-users.ts
  tests/e2e/tests/workflows/access-control.spec.ts
  tests/e2e/tests/workflows/cross-role-integration.spec.ts
  tests/e2e/tests/workflows/manager-workflow.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update testing documentation with workflow test status
  tests/README.md
  tests/e2e/UI_TESTING_README.md
Due: none

fix(tests): apply proactive fixes to access control and cross-role tests
  tests/e2e/tests/workflows/access-control.spec.ts
  tests/e2e/tests/workflows/cross-role-integration.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): improve access control and cross-role tests
  tests/e2e/tests/workflows/access-control.spec.ts
  tests/e2e/tests/workflows/cross-role-integration.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): resolve cross-role integration test failures
  tests/e2e/tests/workflows/cross-role-integration.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs(tests): update workflow test documentation with final results
  tests/README.md
  tests/e2e/UI_TESTING_README.md
Due: none

fix(tests): add missing serial mode configuration to staffer-workflow
  tests/e2e/tests/workflows/staffer-workflow.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): replace team leader Gianluca with staff user Sara Rossi
  tests/README.md
  tests/e2e/UI_TESTING_README.md
  tests/e2e/helpers/test-users.ts
  tests/e2e/tests/workflows/manager-workflow.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): use logout helper instead of direct token removal
  tests/e2e/tests/workflows/access-control.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix(tests): update legacy auth helper to use Sara Rossi
  tests/e2e/helpers/auth.ts
Due: eslint, no-prod-ids-in-code, typescript-check

Add UAT testing documentation for team leader handoff
  docs/MVP_READINESS_ASSESSMENT.md
  docs/TESTER_HANDOFF_GUIDE.md
  docs/TESTER_QA_QUESTIONNAIRE.md
Due: none

feat: Add audit trail logging and enhance drag-and-drop features
  API_REFERENCE.md
  CHANGELOG.md
  DRAG_DROP_ENHANCEMENTS_SUMMARY.md
  app/api/shifts/[id]/route.ts
  app/api/shifts/route.ts
  app/dashboard/schedule/page.tsx
  docs/FRONTEND_INTEGRATION_GUIDE.md
  lib/audit/logger.ts
  supabase/schema.sql
  tests/e2e/helpers/wait-helpers.ts
  tests/e2e/playwright-report/data/14ab1b33ad4649144808a7d16495e9007c901a05.webm
  tests/e2e/playwright-report/data/306bee22b2e92b2a2c89d3620e4fc01c3fc7f86c.png
  tests/e2e/playwright-report/data/7d99f24dea3c64cf68400069e40e6dbd54b70a05.md
  tests/e2e/playwright-report/data/bf8b55d81f0303a0439b31a136a674fddfbcd597.png
  tests/e2e/playwright-report/data/c13754baac87f402b6500e47fc5c3244efff36a2.webm
  tests/e2e/playwright-report/data/c17be32b461340ba2bbb3a7e70b04d785976166c.md
  tests/e2e/playwright-report/index.html
  tests/e2e/test-results.json
  tests/e2e/test-results/.last-run.json
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/error-context.md
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/test-failed-1.png
  tests/e2e/test-results/workflows-staffer-workflow-e9f04--can-open-add-time-off-form-chromium/video.webm
  tests/e2e/tests/drag-drop-conflict.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: Preserve time slot times and enable undo for force-moved shifts
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: Add bug fixes to changelog
  CHANGELOG.md
Due: none

refactor(e2e): Improve auth helpers with full URLs and ID selectors
  tests/e2e/helpers/auth.ts
  tests/e2e/helpers/test-users.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: unify drag-and-drop functionality across all schedule views
  CHANGELOG.md
  DRAG_DROP_ENHANCEMENTS_SUMMARY.md
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: restore time slot drop functionality in Today view
  CHANGELOG.md
  DRAG_DROP_ENHANCEMENTS_SUMMARY.md
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update all documentation for Today view time slot drag-and-drop
  API_REFERENCE.md
  docs/FRONTEND_INTEGRATION_GUIDE.md
  docs/USER_WORKFLOWS.md
Due: none

docs: Update FRONTEND_INTEGRATION_GUIDE with bug fix patterns
  docs/FRONTEND_INTEGRATION_GUIDE.md
Due: none

feat: Add automated chatbot knowledge generation system
  app/api/ai/chatbot/route.ts
  components/chatbot-guide.tsx
  lib/ai/generated-knowledge.ts
  lib/ai/knowledge-generator.ts
  package-lock.json
  package.json
  scripts/generate-chatbot-knowledge.ts
  tests/unit/knowledge-generator.test.ts
  vitest.config.ts
Due: eslint, no-prod-ids-in-code, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$ and not ((?x)^(
  \.next/|
  node_modules/|
  dist/|
  build/|
  scripts/
)$
) and not ((?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$
)
  check-env-example: any of: \.env\.example$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  no-prod-ids-in-code: any of: not (\.(md|sql)$), but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

