Repository ArlynGajilanTR/ShiftSmart: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-env-example, no-prod-ids-in-code, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$ and not ((?x)^(
  \.next/|
  node_modules/|
  dist/|
  build/|
  scripts/
)$
) and not ((?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$
)
  check-env-example: any of: \.env\.example$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  no-prod-ids-in-code: any of: not (\.(md|sql)$), but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  \.git/|
  \.next/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  \.vscode/|
  \.idea/|
  package-lock\.json|
  \.env\.local|
  \.DS_Store
)$


docs: Update documentation for v1.3.7 dashboard improvements
  CHANGELOG.md
  VERSION
  docs/FRONTEND_INTEGRATION_GUIDE.md
  package.json
Due: no-prod-ids-in-code

style: Replace emojis with lucide-react icons in Today view
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

style: Update stat card accent colors with dynamic states
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

style: Only show progress bar on Coverage Rate stat card
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

refactor: Remove Recent Conflicts component from dashboard
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: Remove non-functional Add Shift button from dashboard
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

feat: Add Today view to Schedule Management page
  app/api/ai/chatbot/route.ts
  app/dashboard/layout.tsx
  app/dashboard/schedule/page.tsx
  components/chatbot-guide.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: Add null checks for shift date transformation in dashboard
  app/api/ai/chatbot/route.ts
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

copy: Update Schedule Overview description text
  app/dashboard/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix(ai): Update to Claude Haiku 4.5 with parallel generation
  CHANGELOG.md
  app/api/ai/chatbot/route.ts
  lib/ai/client.ts
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: Align dashboard and schedule page data handling
  app/dashboard/page.tsx
  app/globals.css
  components/chatbot-guide.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: Add null checks for shift date transformation in schedule page
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

feat: Add drag and drop to Today view in schedule management
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: Update documentation for v1.3.9
  CHANGELOG.md
  VERSION
  docs/FRONTEND_INTEGRATION_GUIDE.md
  package.json
Due: no-prod-ids-in-code

feat(v1.4.0): AI-powered Schedule Health dashboard
  API_REFERENCE.md
  CHANGELOG.md
  QUICKSTART.md
  README.md
  VERSION
  app/api/ai/resolve-conflict/route.ts
  app/api/shifts/[id]/route.ts
  app/api/shifts/route.ts
  app/dashboard/conflicts/page.tsx
  app/dashboard/layout.tsx
  lib/ai/scheduler-agent.ts
  lib/api-client.ts
  package.json
  types/index.ts
Due: eslint, no-prod-ids-in-code, typescript-check

feat: Add conflict confirmation dialog for drag-and-drop shift moves
  API_REFERENCE.md
  CHANGELOG.md
  app/dashboard/schedule/page.tsx
  docs/FRONTEND_INTEGRATION_GUIDE.md
Due: eslint, no-prod-ids-in-code, typescript-check

fix(employees): Wire up Employee Detail page and add authorization
  API_REFERENCE.md
  CHANGELOG.md
  README.md
  VERSION
  app/api/ai/chatbot/route.ts
  app/api/employees/[id]/route.ts
  app/api/employees/route.ts
  app/dashboard/employees/[id]/page.tsx
  app/dashboard/employees/loading.tsx
  app/dashboard/employees/page.tsx
  components/chatbot-guide.tsx
  package.json
Due: eslint, no-prod-ids-in-code, typescript-check

fix(employees): Shifts This Month now counts all assignment statuses
  app/api/employees/[id]/route.ts
  app/api/employees/route.ts
Due: eslint, no-prod-ids-in-code, typescript-check

feat: Add drag-and-drop conflict handling and E2E tests
  CHANGELOG.md
  app/dashboard/schedule/page.tsx
  app/globals.css
  tests/e2e/UI_TESTING_README.md
  tests/e2e/tests/drag-drop-conflict.spec.ts
Due: eslint, no-prod-ids-in-code, typescript-check

fix: remove mock data fallbacks from Dashboard and Schedule pages
  CHANGELOG.md
  VERSION
  app/dashboard/layout.tsx
  app/dashboard/page.tsx
  app/dashboard/schedule/page.tsx
  components/ui/sidebar.tsx
  tests/e2e/test-results/.last-run.json
Due: eslint, no-prod-ids-in-code, typescript-check

feat: add dynamic Schedule Health icon based on conflict status
  app/dashboard/layout.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update changelog and version for v1.4.6
  CHANGELOG.md
  VERSION
Due: no-prod-ids-in-code

feat: add DEV-only Reset Schedule button for localhost testing
  CHANGELOG.md
  app/api/shifts/reset/route.ts
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: add DEV Reset button documentation
  API_REFERENCE.md
  DEVELOPMENT_GUIDE.md
Due: none

feat: implement comprehensive filter system for Schedule page
  CHANGELOG.md
  VERSION
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix: use 'all' instead of empty string for employee filter select
  app/dashboard/schedule/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

feat: replace Sheet filter with inline Filters component
  app/dashboard/schedule/page.tsx
  components/ui/dropdown-menu.tsx
  components/ui/filters.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update changelog for inline filter pills (v1.4.8)
  CHANGELOG.md
  VERSION
Due: no-prod-ids-in-code

fix(ai-scheduling): Fix JSON parsing false positives and save flow
  API_REFERENCE.md
  CHANGELOG.md
  VERSION
  app/api/ai/save-schedule/route.ts
  app/dashboard/schedule/page.tsx
  lib/ai/scheduler-agent.ts
  lib/api-client.ts
  package.json
Due: eslint, no-prod-ids-in-code, typescript-check

feat(schedule): add navigation controls and smooth transition animations for all schedule views
  CHANGELOG.md
  VERSION
  app/dashboard/schedule/page.tsx
  app/globals.css
  package.json
Due: eslint, no-prod-ids-in-code, typescript-check

fix(auth): accept bureau_id and lookup by code instead of name
  app/api/auth/signup/route.ts
Due: eslint, no-prod-ids-in-code, typescript-check

feat(auth): replace signup form with admin-managed access page
  app/signup/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

fix(ai): improve JSON extraction from AI responses
  lib/ai/scheduler-agent.ts
Due: eslint, no-prod-ids-in-code, typescript-check

docs: update CHANGELOG and VERSION for v1.5.1
  CHANGELOG.md
  VERSION
Due: no-prod-ids-in-code

fix(settings): display bureau name instead of UUID in settings page
  app/dashboard/settings/page.tsx
Due: eslint, no-prod-ids-in-code, typescript-check

security: update Next.js 15.0.2 -> 15.5.7 (CVE-2025-66478)
  package-lock.json
  package.json
Due: no-prod-ids-in-code

Update Next.js/React Flight RCE vulnerability
  package-lock.json
  package.json
Due: no-prod-ids-in-code

docs: Phase 3 documentation cleanup
  CHANGELOG.md
  README.md
  SECURITY_BACKLOG.md
Due: none

fix: Correct CHANGELOG date typo (2024 → 2025)
  CHANGELOG.md
Due: none
